<!doctype html>
<head>
    <title>pixelChat &bull; a make8bitart.com joint</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    <div id="pixelChat">
        <h1>pixelChat <small>be nice. be creative. make art.</small></h1>

        <ul id="pixelChat-messages"></ul>
        
        <form id="send-message" action="">
           	<h3>enter name, draw & submit! <small id="form-alert"></small></h3>
            
            <label for="nickname">nickname (required): </label>
            <input type="text" name="nickname" />
            
            <canvas width="400" height="150">You have 99 problems, and a browser without HTML5 Canvas support is 1.</canvas>
           
            <div id="pixelChat-tools">[PLACEHOLDER FOR TOOLS]</div>
            
            <div class="buttons">
                <input id="clear-canvas" type="reset" value="clear canvas" /> 
                <input id="send" type="submit" value="send message" />
            </div>
        </form>
        
        <footer>
        	<p>!!! made by <a href="http://twitter.com/jennschiffer">jenn</a> !!! go <a href="http://make8bitart.com">make8bitart.com</a> !!!</p>
        </footer>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/pixelchat.js"></script>

</body>
</html>