<!doctype html>
<head>
    <title>pixelChat &bull; a make8bitart.com project</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    <div id="pixelChat">
        <h1>pixelChat <small>speak in 8-bit & be nice.</small></h1>

        <a href="/login/twitter">Log In with Twitter</a>
        
        <footer>
        	<p>!!! made by <a href="http://twitter.com/jennschiffer">jenn</a> !!! go <a href="http://make8bitart.com">make8bitart.com</a> !!!</p>
        </footer>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/pixelchat.js"></script>

</body>
</html>