/* pixelChat css */

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/VT323-Regular.ttf') format('woff');
}

/* makebitart style - just the grid bg and stick to neon colornames */
* { box-sizing: border-box; }
html { background: #fff url('../img/bg.png'); font-family: 'VT323', monospace; }
body {  }
a { color: blue; text-decoration: blue; }

/* pixelChat main */
#pixelChat{ width: 430px; margin: 0 auto; }
h1 { font-size: 3em; }
h1 small { font-size: .4em; text-transform: uppercase; }
.container { display: block; background-color: #fff; padding: 10px; border: 1px solid #000; box-shadow: 2px 2px 0px #000; margin: 10px auto; }

/* message window */
#pixelChat-messages { height: 325px; overflow-y: scroll; border: 1px solid #000; padding: 0; margin: 0 0 10px; text-align: center; background: aqua; }
#pixelChat-messages li { margin: 5px 0; padding: 0; list-style: none; position: relative; }
#pixelChat-messages li img { border: 1px solid #000; box-shadow: 2px 2px 0 #000; }
#pixelChat-messages li .nickname { position: absolute; right: 10px; bottom: 8px; background: #fff; border: 1px solid #000; padding: 2px; opacity: .9; box-shadow: 2px 2px 0 #000; }
#pixelChat-messages li .remix { position: absolute; font: inherit; right: 10px; top: 8px; background: #fff; border: 1px solid #000; padding: 2px; opacity: .9; box-shadow: 2px 2px 0 #000; }

/* message form*/
#send-message { background: lime; padding: 5px; color: #000; border: 1px solid #000;}
#send-message h3 { font-size: 20px; margin: 0 10px 5px; }
#send-message input[type="text"] { border: 1px solid #000; padding: 2px; }
#send-message .buttons { text-align: right; }
#form-alert { background-color: #f00; color: #fff; font-weight: normal; font-size: .8em; }

/* message canvas - set to 400px x 150px in index.html */
#send-message canvas { display: block; border: 1px solid #000; background: #fff; margin: 3px auto; box-shadow: 2px 2px 0px #000; }

/* art tools */
#pixelChat-tools { text-align: center; }
.button { width: 20px; height: 20px; border: 1px solid #000; margin: 2px; display: inline-block; }
.button.current { vertical-align: top; box-shadow: 2px 2px 0px #000; }

/* misc */
footer { font-weight: bold; font-size: 1em; text-align: center;  }
footer p { margin: 0; }

@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
  #pixelChat { }
  h1 small { display: block; }
}
